:root {
    --barpad: 240px;
    --screenHeight: 100%;
    --toolBar: 56px;
    --bodyHeight: calc(100vh - 56px);
}

@media (min-width: 600px){
    :root {
        --toolBar: 64px;
        --bodyHeight: calc(100vh - 64px);
    }
}

/*@media (min-width: 0px) and (orientation: landscape){
    :root {
        --toolBar: 48px;
        --bodyHeight: calc(100vh - 48px);
    }
}*/

#root {
    background-color: #f5f5f5;
}

@media screen and (min-width: 600px) {
    body {
        padding-left: var(--barpad);
    }
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 0;
    }
}

html, body {
    background-color: #f5f5f5!important;
    height: 100%;
}