{% extends 'base.mail.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{ subject }}</div>
                <div class="panel-body">
                    <p> Si vous n'êtes pas à l'origine de ce message, veuillez ignorer le lien ci-dessous. </p>
                    
                    <p> Ce lien sera valide pendant 24 heures </p>
                    <a href={{ link }} target="_blank">{{ message }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}